.form__text {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 15rem;
  margin: 0;
  margin-bottom: 1rem;
  position: relative;
}

.form__input {
  width: 100%;
  height: 0.5rem;
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.form__label {
  font-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3em 0.6em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  border-radius: 1rem;
}

.form__input:focus:invalid,
.form__input:not(:focus):invalid {
  border: 2px solid #ff807a;
}

.form__input:not(:focus):invalid.empty {
  border: 2px solid rgb(200, 200, 200);
}

.form__input:focus ~ .form__label,
.form__input:valid ~ .form__label,
.form__input:not(:focus):invalid ~ .form__label {
  transform: translateY(-60%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0 0.2em;
  background-color: var(--white-color);
}

.form__input:not(:focus):invalid ~ .empty {
  padding: 0.3em 0.6em;
  margin-left: 0.5em;
  transform: none;
  background-color: transparent;
}

.form__input:focus,
.form__input:valid {
  border-color: var(--bg-color);
}
